<main class="grid grid-nogutter h-screen">

    <!-- Folders -->
    @if (isDesktop) {
    <section class="col-3 h-full p-6 flex flex-column gap-4">
        <p-button class="w-full" label="Add Folder" icon="pi pi-folder" (click)="addFolderModal = true;" />
        <p-button class="w-full" label="Add Contract" icon="pi pi-file" />
        <p-button class="w-full" label="Log out" severity="danger" icon="pi pi-sign-out" (click)="signOut()" />
        <br>
        <h1 class="text-2xl text-primary-800 font-bold">Folders</h1>
        <div class="h-full flex flex-column gap-3 h-full overflow-auto justify-content-end">
            @if (folders.length > 0) {
            @for (fld of folders; track $index) {
            <p-accordion value="{{activeFolderId}}">
                <p-accordion-panel value="{{fld.folderId}}">
                    <p-accordion-header (click)="activateFolder(fld.folderId)">
                        <div class="grid grid-nogutter align-items-center gap-3">
                            {{fld.folderName}}
                            <p-button class="w-1" icon="pi pi-pencil" [text]="true" [rounded]="true"
                                (click)="showUpdateFolderModal(fld)" />
                            <p-button class="w-1" icon="pi pi-trash" [text]="true" [rounded]="true" />
                        </div>
                    </p-accordion-header>
                    <p-accordion-content>
                        <div class="flex flex-column gap-2">
                            @for (ctrs of fld.contracts; track $index) {
                            <p-button class="w-full" (click)="activateContract(ctrs)"
                                [severity]="this.activeContractId == ctrs.contractId ? 'primary' : 'secondary'"
                                label="{{ctrs.contractName}}" />
                            }
                        </div>
                    </p-accordion-content>
                </p-accordion-panel>
            </p-accordion>
            }
            } @else {
            <img src="https://res.cloudinary.com/dqft6k71v/image/upload/v1756714608/AddFolder_qfxjzw.png" width="70%"
                alt="">
            }

        </div>
    </section>
    } @else {
    <p-drawer #drawerRef [(visible)]="visibleContract" [dismissible]="!isDesktop" [closeOnEscape]="!isDesktop"
        [modal]="!isDesktop" position="left" [style]="{ width: '80%' }" [blockScroll]="!isDesktop">
        <ng-template #headless>
            <section class="w-full h-full p-6 flex flex-column gap-4">
                <p-button class="w-full" label="Add Folder" (click)="addFolderModal = true;" icon="pi pi-folder" />
                <p-button class="w-full" label="Add File" icon="pi pi-file" />
                <br>
                <div class="h-full flex flex-column gap-3 h-full overflow-auto">
                    <h1 class="text-2xl text-primary-800 font-bold">Folders</h1>
                    @if (folders.length > 0) {
                    @for (fld of folders; track $index) {
                    <p-accordion value="{{activeFolderId}}">
                        <p-accordion-panel value="{{fld.folderId}}">
                            <p-accordion-header (click)="activateFolder(fld.folderId)">
                                <div class="flex flex-column gap-3">
                                    {{fld.folderName}}
                                    <div class="flex">
                                        <div class="w-6"><p-button icon="pi pi-pencil" [text]="true" [rounded]="true" />
                                        </div>
                                        <div class="w-6"> <p-button icon="pi pi-trash" [text]="true" [rounded]="true" />
                                        </div>
                                    </div>
                                </div>
                            </p-accordion-header>
                            <p-accordion-content>
                                <div class="flex flex-column gap-2">
                                    @for (ctrs of fld.contracts; track $index) {
                                    <p-button class="w-full" (click)="activateContract(ctrs)"
                                        [severity]="this.activeContractId == ctrs.contractId ? 'primary' : 'secondary'"
                                        label="{{ctrs.contractName}}" />
                                    }
                                </div>
                            </p-accordion-content>
                        </p-accordion-panel>
                    </p-accordion>
                    }
                    } @else {
                    <img src="https://res.cloudinary.com/dqft6k71v/image/upload/v1756714608/AddFolder_qfxjzw.png"
                        width="70%" alt="">
                    }
                </div>
            </section>
        </ng-template>
    </p-drawer>
    }


    <!-- Main Contracts -->
    <section class="col-12 xl:col-6 h-full p-4 md:p-6">
        <p-tabs value="{{activeContractId}}" (valueChange)="tabChange($event)" scrollable
            class="h-full flex flex-column justify-content-between">
            @if (!isDesktop) {
            <div class="flex mb-6 justify-content-between">
                <p-button variant="text" (click)="toggleDrawer()">Contracts</p-button>
                <p-button variant="text" (click)="getContractInsights()">Contract Insights</p-button>
            </div>
            }
            <p-tablist #tablistRef [style]="{ height: '10%' }">
                <p-tab value="0">AI Expert</p-tab>
                @for (selCtrs of selectedContracts.values(); track selCtrs.contractId) {
                <p-tab value="{{selCtrs.contractId}}" class="grid grid-nogutter" style="position: relative;">
                    <p class="pr-6">{{selCtrs.contractName}}</p>
                    <div style="position: absolute; top: 0; right: 0;z-index: 100;">
                        <p-button (click)="removeContract(selCtrs)" icon="pi pi-times" size="small" class="w-1" />
                    </div>
                </p-tab>
                }
            </p-tablist>

            <p-tabpanels [style]="{ height: '90%' }">
                <p-tabpanel value="0">
                    <div class="h-full flex flex-column justify-content-end w-full">
                        @if (chatMessages.length > 0) {
                        <div style="height: 90%;" class="flex flex-column gap-4">
                            @for (item of chatMessages; track $index) {
                            <div class="p-4 border-1 border-dashed border-round-xl">
                                <p>{{item.userMessage}}</p>
                            </div>
                            }
                        </div>
                        }@else {
                        <h1 class="text-2xl font-bold text-center mb-4">What you are looking for ?</h1>
                        }

                        <form [formGroup]="aiChatForm" class="flex gap-2" (ngSubmit)="submitQuery()">
                            <input pInputText id="userMessage" aria-describedby="userMessage-help"
                                formControlName="userMessage" placeholder="Ask Anything" />
                            <p-button [style]="{'height':'100%'}" icon="pi pi-arrow-up" [rounded]="true"
                                [disabled]="aiChatForm.invalid" />
                        </form>
                    </div>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
    </section>

    <!-- Contracts Insigt -->
    <section class="col-12 xl:col-3 h-full p-6 flex flex-column gap-4 justify-content-between">
        <h1 class="text-3xl font-bold text-primary">Contract Insights</h1>
        <div class="bg-primary-50 p-4 border-round-xl h-full">
            @if (activeContractId == 0) {
            <p class="font-italic text-primary">Please Select Contract to see it's insights</p>
            }@else {

            }
        </div>
    </section>

    <!-- Add Folder Dialog -->
    <p-dialog [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" header="Add Folder" [modal]="true"
        [(visible)]="addFolderModal" [style]="{ width: '50rem' }">
        <form [formGroup]="addFolderForm" class="flex flex-column gap-3" (ngSubmit)="addFolder()">
            <input pInputText id="folderName" aria-describedby="folderName-help" formControlName="folderName"
                placeholder="Folder Name" />
            <p-button [style]="{'height':'100%'}" [rounded]="true" [disabled]="addFolderForm.invalid" label="Add Folder"
                type="submit" />
        </form>
    </p-dialog>

    <!-- Update Folder Dialog -->
    <p-dialog [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" header="Update Folder" [modal]="true"
        [(visible)]="updateFolderModal" [style]="{ width: '50rem' }">
        <form [formGroup]="updateFolderForm" class="flex flex-column gap-3">
            <input pInputText id="folderName" aria-describedby="folderName-help" formControlName="folderName"
                placeholder="Folder Name" />
            <p-button [style]="{'height':'100%'}" [rounded]="true" [disabled]="updateFolderForm.invalid"
                label="Update Folder" (click)="updateFolder()" />
        </form>
    </p-dialog>

</main>