:host ::ng-deep .p-tab{
    background-color: #f1f5f9;
    border-radius: var(--input-radius);
}

:host ::ng-deep .p-tablist-tab-list{
    border: none;
    gap: 10px;
}

:host ::ng-deep .p-tab-active{
    background-color: var(--primary-color);
    color: white;
}

:host ::ng-deep .p-tablist-active-bar{
    background: none;
}