<main class="grid grid-nogutter h-screen">

    <!-- Folders -->
    @if (isDesktop) {
    <section class="col-3 h-full p-6 flex flex-column gap-4">
        <p-button class="w-full" label="Add Folder" icon="pi pi-folder" />
        <p-button class="w-full" label="Add File" icon="pi pi-file" />
        <br>
        <h1 class="text-2xl text-primary-800 font-bold">Folders</h1>
        <div class="h-full flex flex-column gap-3 h-full overflow-auto justify-content-end">
            @for (fld of folders; track $index) {
            <p-accordion value="{{activeFolderId}}">
                <p-accordion-panel value="{{fld.folderId}}">
                    <p-accordion-header (click)="activateFolder(fld.folderId)">
                        <div class="flex align-items-center gap-3">
                            {{fld.folderName}} <p-chip label="{{fld.contracts.length}} - Contracts" />
                        </div>
                    </p-accordion-header>
                    <p-accordion-content>
                        <div class="flex flex-column gap-2">
                            @for (ctrs of fld.contracts; track $index) {
                            <p-button class="w-full" (click)="activateContract(ctrs)"
                                [severity]="this.activeContractId == ctrs.contractId ? 'primary' : 'secondary'"
                                label="{{ctrs.contractName}}" />
                            }
                        </div>
                    </p-accordion-content>
                </p-accordion-panel>
            </p-accordion>
            }
        </div>
    </section>
    } @else {
    <p-drawer #drawerRef [(visible)]="visibleContract" [dismissible]="!isDesktop" [closeOnEscape]="!isDesktop"
        [modal]="!isDesktop" position="left" [style]="{ width: '80%' }" [blockScroll]="!isDesktop">
        <ng-template #headless>
            <section class="w-full h-full p-6 flex flex-column gap-4">
                <p-button class="w-full" label="Add Folder" icon="pi pi-folder" />
                <p-button class="w-full" label="Add File" icon="pi pi-file" />
                <br>
                <div class="h-full flex flex-column gap-3 h-full overflow-auto">
                    <h1 class="text-2xl text-primary-800 font-bold">Folders</h1>
                    @for (fld of folders; track $index) {
                    <p-accordion value="{{activeFolderId}}">
                        <p-accordion-panel value="{{fld.folderId}}">
                            <p-accordion-header (click)="activateFolder(fld.folderId)">
                                <div class="flex flex-column gap-3">
                                    {{fld.folderName}} <p-chip class="w-full flex justify-content-center"
                                        label="{{fld.contracts.length}} - Contracts" />
                                </div>
                            </p-accordion-header>
                            <p-accordion-content>
                                <div class="flex flex-column gap-2">
                                    @for (ctrs of fld.contracts; track $index) {
                                    <p-button class="w-full" (click)="activateContract(ctrs)"
                                        [severity]="this.activeContractId == ctrs.contractId ? 'primary' : 'secondary'"
                                        label="{{ctrs.contractName}}" />
                                    }
                                </div>
                            </p-accordion-content>
                        </p-accordion-panel>
                    </p-accordion>
                    }
                </div>
            </section>
        </ng-template>
    </p-drawer>
    }


    <!-- Main Contracts -->
    <section class="col-12 xl:col-6 h-full p-6">
        <p-tabs value="{{activeContractId}}" (valueChange)="tabChange($event)" scrollable
            class="h-full flex flex-column justify-content-between">
            @if (!isDesktop) {
            <div class="flex mb-6 justify-content-between">
                <p-button variant="text" (click)="toggleDrawer()">Contracts</p-button>
                <p-button variant="text" (click)="getContractInsights()">Contract Insights</p-button>
            </div>
            }
            <p-tablist #tablistRef [style]="{ height: '6%' }">
                <p-tab value="0">AI Expert</p-tab>
                @for (selCtrs of selectedContracts.values(); track selCtrs.contractId) {
                <p-tab value="{{selCtrs.contractId}}" class="grid grid-nogutter" style="position: relative;">
                    <p class="pr-6">{{selCtrs.contractName}}</p>
                    <div style="position: absolute; top: 0; right: 0;z-index: 100;">
                        <p-button (click)="removeContract(selCtrs)" icon="pi pi-times" size="small" class="w-1" />
                    </div>
                </p-tab>
                }
            </p-tablist>

            <p-tabpanels [style]="{ height: '90%' }">
                <p-tabpanel value="0">
                    <div class="h-full flex flex-column justify-content-end w-full">
                        @if (queryList.length > 0) {
                            <div style="height: 90%;">
                                @for (item of queryList; track $index) {
                                <p>{{item}}</p>
                                }
                            </div>
                        }@else {
                            <h1 class="text-2xl font-bold text-center mb-4">What you are looking for ?</h1>
                        }

                        <div class="flex gap-2">
                            <input pInputText id="email" aria-describedby="email-help" [(ngModel)]="query"
                                placeholder="Ask Anything" (keydown)="keyDown($event)" />
                            <p-button [style]="{'height':'100%'}" icon="pi pi-arrow-up" [rounded]="true"
                                [disabled]="query.length == 0" (click)="submitQuery()" />
                        </div>
                    </div>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
    </section>

    <!-- Contracts Insigt -->
    <section class="col-12 xl:col-3 h-full p-6 flex flex-column gap-4 justify-content-between">
        <h1 class="text-3xl font-bold text-primary">Contract Insights</h1>
        <div class="bg-primary-50 p-4 border-round-xl h-full">
            @if (activeContractId == 0) {
            <p class="font-italic text-primary">Please Select Contract to see it's insights</p>
            }@else {

            }
        </div>
    </section>

</main>